@import "tailwindcss";

@theme {
  --breakpoint-xs: 540px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #FFF7F0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #D4B89A #FFF7F0;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  background: #FFF7F0;
}

*::-webkit-scrollbar-thumb {
  background-color: #D4B89A;
  border-radius: 99px;
}
